<header class="main-header">
			<div class="zerogrid">
				<!--Top-->
				<div id="top">
					<div class="row">
						<div class="col-2-3">
							<ul class="list-inline top-link link">
								<li><a href="#">Facebook</a></li>
								<li><a href="#">Instagram</a></li>
								<li><a href="#">Twitter</a></li>
								<li><a href="#">Google +</a></li>
								<li><a href="#">Pinterest</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="t-center">
					<a class="site-branding" href="index.html">
						<img src="/assets/images/dp.png" width="300px" />
					</a><!-- .site-branding -->

					<!-- Menu-main -->
					<div id='cssmenu' class="align-center">
						<ul>
							<li class="active"><a href='index'><span>Home</span></a></li>
							<li class=' has-sub'><a href='#'><span>Categories</span></a>
								<ul>
									<li class='has-sub'><a href='#'><span>Item 1</span></a>
										<ul>
											<li><a href='#'><span>Sub Item</span></a></li>
											<li class='last'><a href='#'><span>Sub Item</span></a></li>
										</ul>
									</li>
									<li class='has-sub'><a href='#'><span>Item 2</span></a>
										<ul>
											<li><a href='#'><span>Sub Item</span></a></li>
											<li class='last'><a href='#'><span>Sub Item</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href='single'><span>About</span></a></li>
							<li><a href='archive'><span>Blog</span></a></li>
							<li class='last'><a href='contact'><span>Contacts</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>